@import 'variables';
header {
    height: $header-height;
    background-color: $primary-color;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    // Nesting
    div {
        &:first-child {
            font-size: 24px;
            font-weight: bold;
        }
        &:last-child {
            // Navigation styles
        }
    }
}